<section *ngIf="alarms()?.items as alarms; else spinner">
  <p *ngIf="!alarms.length" class="text2">No alarms were found</p>

  <div class="alarm" *ngFor="let alarm of alarms; trackBy: trackById">
    <div class="header">
      <span class="urgency {{ alarm.urgency }}">
        {{ emergencyToHumanReadable[alarm.urgency] }}
      </span>

      <span>{{ alarm.createdAt | timeSince | async }}</span>

      <button
        class="icon close"
        aria-label="Delete alarm"
        (click)="delete(alarm.id)"
      >
        <i-feather name="x"></i-feather>
      </button>
    </div>

    <p>{{ alarm.message }}</p>

    <app-connection-info [connection]="alarm.connection"></app-connection-info>
  </div>
</section>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
