<main>
  <h1>Profile</h1>

  <section *ngIf="(user$ | async)?.user as user; else spinner" class="infos">
    <div class="label">Username</div>
    <div>{{ user.name }}</div>

    <div class="label">Created at</div>
    <div>{{ user.createdAt | format }}</div>

    <div class="label">Is admin</div>
    <div>{{ user.isAdmin | format }}</div>
  </section>

  <section>
    <h2>Alarmed Devices</h2>
    <app-alarmed-devices-list></app-alarmed-devices-list>
  </section>

  <section>
    <h2>Actions</h2>

    <button (click)="onLogout()" class="logout action red">
      <i-feather name="log-out"></i-feather>
      Logout
    </button>
  </section>
</main>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
