i-feather {
  transition: transform 150ms ease-in-out;

  &.rotate-180 {
    transform: rotate(180deg);
  }
}

ul {
  box-shadow: 0 6px 10px hsl(var(--surface-shadow) / var(--shadow-strength));
  background: var(--surface2);
  border-radius: 0.5rem;
}

li {
  &:not(:first-child) {
    border-top: 2px solid var(--surface4);
  }

  &:last-child {
    $radius: 0.3rem;

    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;

    button {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }
}

button {
  border: none;
  width: 100%;
  border-radius: 0;

  &.is-selected {
    background: var(--brand);
  }
}
