@use "sass:color";
@use "breakpoints" as b;

a:not([class]) {
  // TODO: Use HSL color theme
  color: var(--brand);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

:root {
  --nav-width: 280px;
}

html {
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  height: 100%;
}

label {
  color: var(--text2);
  display: block;
  font-size: 0.9rem;

  & ~ label {
    margin-top: 0.5rem;
  }
}

input {
  font-size: 1rem;
  display: block;
  color: var(--text1);
  background: var(--surface3);
  padding: 0.3rem;
  border: none;
  border-bottom: 2px solid hsl(var(--hue) 10% 45%);
  min-width: 25ch;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border-color: var(--brand);
  }

  &:disabled {
    color: var(--text2);
  }
}

button {
  color: var(--text1);
  background: var(--surface2);
  border: 2px solid var(--surface4);
  border-radius: var(--radius);
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  transition: background 150ms ease-in-out;

  &:hover {
    border: 2px solid var(--surface5);
    background: var(--surface3);
  }

  --action-color: #0047d4;
  --action-border: #0453ee;

  &.red {
    --action-color: var(--brand);
    --action-border: hsl(var(--hue), var(--saturation), 60%);
  }

  &.action {
    border-color: var(--action-color);

    &:hover {
      background: var(--action-color);
    }

    &:active {
      box-shadow: 0 0 2px 1px var(--action-color);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-color: var(--action-border);
    }
  }

  &:disabled {
    color: var(--text2);
    border-color: var(--surface2);
  }

  &.navigate-back {
    position: fixed;
    top: 5px;
    left: 5px;

    @include b.is-large {
      left: calc(var(--nav-width) + 5px);
    }
  }

  &.icon {
    border: none;
    background: unset;
    border-radius: 25px;

    i-feather {
      width: 1.7rem;
      height: 1.7rem;
    }

    &:hover {
      background: var(--surface3);
    }

    &:active {
      background: var(--surface4);
    }
  }
}

p {
  &.help {
    color: var(--text2);
  }
}

.text2 {
  color: var(--text2);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  transition: 150ms background-color ease-in-out;

  &:nth-child(even) {
    background: var(--surface3);
  }

  &:hover {
    background: var(--surface4);
  }
}

h1 {
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: center;

  @include b.is-large {
    text-align: start;
  }
}

main {
  padding: 10px;
}

header {
  @include b.is-large {
    .navigate-back + :is(h1, h2, h3, h4, h5, h6) {
      margin-left: 40px;
    }
  }
}
