@use "../../../../scss/breakpoints" as b;

@font-face {
  font-family: "calling-code";
  src: url("/assets/CallingCode-Regular.ttf");
}

:host {
  background: var(--surface1);

  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: "calling-code", "monospace";
  font-size: 30px;
  margin: 10px 10px 10px 30px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0 30px 0 0;
  padding: 0;
  gap: 30px;
  align-items: flex-end;
  justify-content: space-between;
}

@include b.is-small {
  h1 {
    display: none;
  }

  ul {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    background: var(--surface1);
    padding-inline: 10px;
  }

  i-feather {
    display: block;
    margin-inline: auto;
    width: 22px !important;
  }

  li {
    padding-inline: 5px;

    a {
      display: grid !important;
      gap: 0 !important;
      margin-inline: 10px;
    }
  }
}

li {
  background: var(--surface1);
  border-bottom: 4px solid var(--surface1);
  border-top: 4px solid var(--surface1);
  padding-bottom: 5px;

  &:has(.active) {
    @include b.is-large {
      border-bottom: 4px solid var(--brand);
    }

    @include b.is-small {
      border-top: 4px solid var(--brand);
    }
  }

  a {
    display: flex;
    gap: 10px;
    border-radius: 15px;
    padding: 10px;

    font-size: 18px;
    color: var(--text2);
    text-decoration: none;

    transition: all 150ms ease-in-out;

    &:hover {
      color: var(--text1);
      background: var(--surface2);
    }

    &.active {
      color: var(--text1);
    }
  }
}

i-feather {
  width: 18px;
}
