<header>
  <h2>Welcome to</h2>
  <h1>Bahn Alarm</h1>
</header>

<main>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      Name
      <input formControlName="username" />
    </label>

    <label>
      Password
      <input formControlName="password" type="password" />
    </label>

    <app-banner *ngIf="isInvalid">
      The credentials you've entered are invalid
    </app-banner>

    <button class="action">
      <i-feather aria-hidden="true" name="log-in"></i-feather>
      Login
    </button>
  </form>
</main>
