@use "../../../../scss/breakpoints" as b;

h1 {
  display: flex;
  gap: 1ch;
  text-align: start;
  padding-left: 10px;
  border-bottom: 2px solid var(--surface4);

  img {
    width: 2rem;
  }

  @include b.is-small {
    display: none;
  }
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--surface);
  border-top: 2px solid var(--surface4);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 4.2rem;

  @include b.is-large {
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: start;
    width: unset;
    padding: 10px 0 0;
    gap: 5px;
    height: 100vh;
    border-top: none;
    border-right: 2px solid var(--surface4);
  }
}

button {
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 0;
  border-radius: 0;
  color: var(--text2);
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 150ms ease-in-out,
    border-left-color 150ms ease-in-out;
  min-width: 6rem;

  &:not(:is(:hover, :focus, .is-active)) {
    background: var(--surface);
  }

  &.is-active {
    color: var(--text1);
    border-bottom: 2px solid var(--brand);
    background: var(--surface2);

    i-feather {
      translate: scale(1.2) translateY(-2px);
    }
  }

  i-feather {
    transition: transform 150ms ease-in-out;
  }

  @include b.is-large {
    grid-template-columns: auto 1fr;
    justify-items: start;
    gap: 1ch;
    border-left: 3px solid transparent;
    border-bottom: none;

    &.is-active {
      border-left: 3px solid var(--brand);
      border-bottom: none;

      i-feather {
        transform: scale(1.1);
      }
    }
  }
}
