<nav>
  <h1>
    <img ngSrc="assets/logo.svg" alt="Logo" width="32" height="28" />
    Bahn Alarm
  </h1>

  <button routerLink="/alarms" routerLinkActive="is-active">
    <i-feather name="bell"></i-feather>
    <span>Alarms</span>
  </button>

  <button routerLink="/connections" routerLinkActive="is-active">
    <i-feather name="eye"></i-feather>
    <span>Tracked</span>
  </button>

  <button routerLink="/profile" routerLinkActive="is-active">
    <i-feather name="user"></i-feather>
    <span>Profile</span>
  </button>
</nav>
