.connection {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  column-gap: 1ch;

  .departure {
    grid-row: span 2;
    border-left: 2px solid var(--surface4);
    padding-left: 10px;
  }
}

.label {
  color: var(--text2);
}
