.add-connection {
  width: calc(100% - 20px);
  margin: 10px;
}

.connections {
  margin: 10px;
  display: grid;
  gap: 10px;
}

.connection {
  background: var(--surface2);
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: 0 6px 10px hsl(var(--surface-shadow) / var(--shadow-strength));
}

.stations {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 1ch;
  margin-bottom: 0.5rem;

  .label {
    color: var(--text2);
    text-align: end;
  }
}

h4 {
  border-bottom: 1px solid hsl(var(--hue), 30%, var(--lightness));
}

app-departure {
  transition: 150ms background-color ease-in-out;

  &:nth-child(even) {
    background: var(--surface3);
  }

  &:hover {
    background: var(--surface4);
  }
}

.departures {
  height: calc(2.2rem * 3);
  overflow: auto;

  > * {
    height: 2.2rem;
  }
}
