<header>
  <h2>Connections</h2>

  <button
    (click)="router.navigate(['/connections/add'])"
    class="add-connection"
  >
    <i-feather name="plus"></i-feather>
    Add connection
  </button>
</header>

<div
  *ngIf="connections$ | async as connections; else spinner"
  class="connections"
>
  <div
    *ngFor="let connection of connections; trackBy: trackById"
    class="connection"
  >
    <button (click)="router.navigate(['/connections/edit', connection.id])" class="icon edit">
      <i-feather name="edit"></i-feather>
    </button>

    <div class="stations">
      <div class="label">From</div>
      <div>{{ connection.from.name }}</div>

      <div class="label">To</div>
      <div>{{ connection.to.name }}</div>
    </div>

    <h4>{{ connection.departures.length }} tracked departures</h4>
    <ul class="departures">
      <li
        *ngFor="
          let departure of connection.departures;
          trackBy: trackByDeparture
        "
      >
        <app-departure [departure]="departure"></app-departure>
      </li>
    </ul>
  </div>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
