@use "../../../../scss/breakpoints" as b;

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  h2 {
    font-size: 1.15rem;
    margin: 0.5rem 0;
  }
}

.add-connection {
  margin-left: auto;

  @include b.is-small {
    width: 100%;
  }
}

.connections {
  margin-top: 10px;
  display: grid;
  gap: 10px;

  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-content: space-evenly;
}

.connection {
  background: var(--surface2);
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: 0 6px 10px hsl(var(--surface-shadow) / var(--shadow-strength));
  position: relative;

  .edit {
    position: absolute;
    top: 5px;
    right: 5px;

    i-feather {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.stations {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 1ch;
  margin-bottom: 0.5rem;

  .label {
    color: var(--text2);
    text-align: end;
  }
}

h4 {
  border-bottom: 1px solid hsl(var(--hue), 30%, var(--lightness));
}

.departures {
  height: calc(2.2rem * 3);
  overflow: auto;

  > * {
    height: 2.2rem;
  }
}
