<main *ngIf="!isLoading else loadingSpinner">
  <header>
    <button
      (click)="onNavigateBack()"
      aria-label="Go back"
      class="navigate-back icon"
    >
      <i-feather name="arrow-left"></i-feather>
    </button>
    <h1>New connection</h1>
  </header>

  <form [formGroup]="stationForm" class="stations">
    <label for="from">From</label>
    <app-station-search
      formControlName="from"
      inputId="from"
    ></app-station-search>

    <label for="to">To</label>
    <app-station-search formControlName="to" inputId="to"></app-station-search>
  </form>

  <section class="departures" *ngIf="stationForm.valid || stationForm.disabled">
    <header>
      <h2>Tracked departures</h2>
      <p class="help">
        You'll only receive alarms for departures you're tracking.
      </p>
    </header>

    <app-departure-select
      [from]="from"
      [to]="to"
      [(selectedDepartures)]="selectedDepartures"
    ></app-departure-select>
  </section>

  <app-banner *ngIf="hasTriedSubmitting && !from">
    You must select a <strong>from</strong> station first
  </app-banner>

  <app-banner *ngIf="hasTriedSubmitting && !to">
    You must select a <strong>to</strong> station first
  </app-banner>

  <button
    [disabled]="hasTriedSubmitting && stationForm.invalid"
    (click)="onSubmit()"
    class="action save"
  >
    <i-feather name="check"></i-feather>
    Save connection
  </button>
</main>

<ng-template #loadingSpinner>
  <app-spinner></app-spinner>
</ng-template>
